<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Yan_WidgetRND>
            <version>0.1.0</version>
        </Yan_WidgetRND>
    </modules>

    <global>
        <blocks>
            <widgetrnd>
                <class>Yan_WidgetRND_Block</class>
            </widgetrnd>
        </blocks>
		<helpers>
			<widgetrnd>
				<class>Yan_WidgetRND_Helper</class>
			</widgetrnd>
		</helpers>
		<models>
			<widgetrnd>
				<class>Yan_WidgetRND_Model</class>
			</widgetrnd>
		</models>
    </global>    
</config>